# Konfigurasi Backend AI Cultural Assistant Budaya Zapin
PROJECT_NAME="Zapin AI Cultural Assistant"
SBERT_MODEL_NAME="paraphrase-multilingual-MiniLM-L12-v2"
EMBEDDING_DIMENSION=384
DEFAULT_TOP_K=4
SIMILARITY_THRESHOLD=0.30

# Masukkan Google Gemini API Key Anda di bawah ini:
GEMINI_API_KEY=""
GEMINI_MODEL="gemini-1.5-flash"
